<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vd.canary.authorization.repository.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vd.canary.authorization.repository.entity.RoleEntity">
        <id column="id" property="id" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier_name" property="modifierName" />
        <result column="gmt_create_time" property="gmtCreateTime" />
        <result column="gmt_modify_time" property="gmtModifyTime" />
        <result column="gmt_deleted_time" property="gmtDeletedTime" />
        <result column="deleted" property="deleted" />
        <result column="client_id" property="clientId" />
        <result column="channel" property="channel" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creator_id,
        creator_name,
        modifier_id,
        modifier_name,
        gmt_create_time,
        gmt_modify_time,
        gmt_deleted_time,
        deleted,
        id, client_id, channel, name, description, status
    </sql>

</mapper>
